body{background:url(/assets/dark-texture-bg.jpg) center/cover fixed no-repeat;margin:0;padding:0;color:#fff;font-family:Poppins,sans-serif}body:before{content:"";position:fixed;inset:0;background:#00000073;pointer-events:none}
