<section id="about" class="hero-section">
  <div class="hero-content container">
    <div class="hero-text">
      <span class="tag">Welcome to my Portfolio</span>
      <h1>Hi! I'm Amina</h1>
      <h2 class="typing">
        <span>{{ displayText }}</span>
        <span class="cursor">|</span>
      </h2>
      <p>
        Hey, I’m <b>Amina Sharaf</b>, <b>Senior Software Engineer</b> with
        <b>4+ years</b> of hands-on experience in designing and developing
        <b>scalable, responsive web applications</b> using<b>
          Angular(2–20), TypeScript, JavaScript,</b
        >
        and <b>RESTful APIs</b>. Proficient in
        <b>front-end architecture, Agile methodology,</b> and<b>
          CI/CD automation.</b
        >
      </p>
      <p>
        I'm not here to just write code - I lead, I organize, and I build teams
        that thrive. I’ve had the privilege of stepping up as <b>Team Lead</b>.
        Adept at leading teams, improving UI performance, and delivering
        maintainable code with strong focus on
        <b>user experience, performance optimization, and code quality.</b>
      </p>
      <p>
        I’m passionate about growth — both mine and my team's. While AI is
        evolving fast, so am I — not just to keep up, but to stay ahead. I
        believe in learning, adapting, and constantly leveling up — because good
        enough just isn’t enough.
      </p>
    </div>

    <div class="about-image-container hero-img">
      <img src="assets/profile.jpg" alt="profile" class="about-photo" [class.animate]="animateImage" />
    </div>
  </div>
</section>
