.navbar {
  width: 95%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color:white;
}

.btn-contact {
  padding: 8px 18px;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-contact:hover {
  background: black;
  border-color: black;
  color: white;
}
