<section id="projects" class="projects-section">
  <h2 class="section-title">Projects</h2>
<div class="projects-container">

  <div class="project-item" *ngFor="let project of projects; let i = index">
    <div class="project-header" (click)="toggleProject(i)">
      <h3>{{ project.title }}</h3>
      <span class="arrow" [class.open]="openedIndex === i">⌄</span>
    </div>

    <div class="project-details" *ngIf="openedIndex === i">
      <p class="project-role"><strong>Role:</strong> {{ project.role }}</p>
      <ul>
        <li *ngFor="let point of project.details">{{ point }}</li>
      </ul>
    </div>
  </div>

</div>

</section>
