<section id="contact" class="contact-section py-24 px-6">
  <div class="social-minimal">
    <a href="mailto:aminahsharaf.7@gmail.com"
      ><i class="fa-solid fa-envelope"></i
    ></a>
    <a href="https://www.linkedin.com/in/aminahsharaf/" target="_blank"
      ><i class="fa-brands fa-linkedin-in"></i
    ></a>
    <a href="https://github.com/aminahsharaf" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.instagram.com/__ami.nah?igsh=bnYyanE0cXhtZmJk" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
  </div>
</section>
